.card {
  max-width: 284px;
  margin: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.card__photo {
  width: 260px;
  height: 380px;
  border-radius: 10px;
  object-fit: cover;
}

.card__notFound {
  width: 260px;
  height: 380px;
  border-radius: 10px;
  object-fit: contain;
}

.card__name {
  width: 100%;
  margin: 10px 0 0;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 24px;
  color: #413e3e;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__info {
  width: 80%;
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #413e3e;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}