.info__wrapper {
  content: '';
  width: auto;
  height: fit-content;
  justify-content: center;
  align-items: center;
  display: none;
  flex-direction: column;
  border-radius: 30px;
}

.info__wrapper_active {
  display: flex;
}

.info {
  width: 90%;
  min-height: 50%;
  margin: 0 auto 0;
  padding: 10px;
  display: grid;
  column-gap: 30px;
  grid-template-columns: repeat(2, 1fr);
}

.info__text-section {
  padding-right: 30px;
}

.info__text {
  height: fit-content;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #413e3e;
}

.info__about {
  max-height: fit-content;
  text-overflow: ellipsis;
}

.info__caption {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #413e3e;
}

.info__poster {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  object-fit: contain;
  background-color: transparent;
}

.info__without-poster {
  width: 300px;
  height: 300px;
  margin: auto;
  object-fit: contain;
  background-color: transparent;
}