.info__wrapper {
  content: '';
  width: auto;
  height: fit-content;
  justify-content: center;
  align-items: center;
  display: none;
  flex-direction: column;
  border-radius: 30px;
}

.info__wrapper_active {
  display: flex;
}

.info {
  width: 40%;
  min-height: 50%;
  margin: 0 auto 0;
  padding: 10px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}

.info__text {
  height: fit-content;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #413e3e;
}

.info__about {
  max-height: fit-content;
  text-overflow: ellipsis;
}

.info__caption {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #413e3e;
}

.info__poster {
  width: 200px;
  height: 400px;
  object-fit: contain;
  margin: 10px 30px 10px 10px;
  background-color: transparent;
}